
@font-face {font-family:"Bodoni SvtyTwo ITC TT";
    src: url("../fonts/8bc773512e829a52d207976b43c0ecca.eot"); /* IE9*/
    src: url("../fonts/8bc773512e829a52d207976b43c0ecca.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/8bc773512e829a52d207976b43c0ecca.woff") format("woff"), /* chrome?firefox */
    url("../fonts/8bc773512e829a52d207976b43c0ecca.ttf") format("truetype"), /* chrome?firefox?opera?Safari, Android, iOS 4.2+*/
    url("../fonts/8bc773512e829a52d207976b43c0ecca.svg#Bodoni SvtyTwo ITC TT") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url('../fonts/librebaskerville-bold-webfont.eot');
    src: url('../fonts/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-bold-webfont.woff') format('woff'),
         url('../fonts/librebaskerville-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('../fonts/librebaskerville-italic-webfont.eot');
    src: url('../fonts/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-italic-webfont.woff') format('woff'),
         url('../fonts/librebaskerville-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('../fonts/librebaskerville-regular-webfont.eot');
    src: url('../fonts/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-regular-webfont.woff') format('woff'),
         url('../fonts/librebaskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eb_garamond12_italic';
    src: url('../fonts/ebgaramond12-italic-webfont.eot');
    src: url('../fonts/ebgaramond12-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebgaramond12-italic-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramond12-italic-webfont.woff') format('woff'),
         url('../fonts/ebgaramond12-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eb_garamond12_regular';
    src: url('../fonts/ebgaramond12-regular-webfont.eot');
    src: url('../fonts/ebgaramond12-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebgaramond12-regular-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramond12-regular-webfont.woff') format('woff'),
         url('../fonts/ebgaramond12-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'regular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-regular.woff') format('woff'),
    url('../fonts/proximanova-regular.ttf') format('truetype'),
    url('../fonts/proximanova-regular.svg#proximanova-regular') format('svg');
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 20, 2016 */



@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}