/*==========================================

[Table of contents]

1. COLOR VARIABLE
2. FONT & ALIGN SETUP
3. MARGIN , PADDING & NO GUTTER SETUP
4. HEADING SETUP
5. LIST SETUP
6. PARAGRAPH SETUP
7. HYPERLINK SETUP
8. GENERAL SETUP
9. BUTTON SETUP
10. FORM SETUP
11. IMAGE SETUP
12. HEADER SETUP
13. FOOTER SETUP
14. NAVIGATION SETUP
15. DROPDOWN
16. BASKETMENU
17. LOGO
18. MAIN PICT
19. BOTTOM HEADER
20. BANNER CONTENT
21. BREADCRUMBS
22. BAR
23. FILTER SIDEBAR
24. ACOORDION
25. WRAP PRODUCT LIST
26. TOP PRODUCT LIST
27. CARD
28. CATEGORY PRODUCT
29. BORDER
30. ITEM DETAIL
31. SIDEBAR
32. PAGINATION
33. FIND SEARCH FORM
34. WRAP TAB CONTENT
35. PASSWORD ON CHECKOUT 
36. WRAP PAY CARD ON CHECKOUT 
37. MODAL
38. SLIDER ON QUICKVIEW
39. ZOOM IMAGE
40. FILTER TOGLE 
42. TABLE SETUP
=============================================*/


/* ==========================================
RESET BOOTSTRAP
========================================== */

*,
:after,
:before
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/*========================================
1. COLOR VARIABLE
========================================*/

.cl-green
{
    color: #7ac143;
}

.cl-yellow
{
    color: #ffd200;
}

.cl-white
{
    color: #fff;
}

.cl-gray
{
    color: #ccc;
}

.cl-black
{
    color: #000;
}

.bcl-sgray
{
    background: #ebebeb;
}


/*========================================
2. FONT & ALIGN SETUP
========================================*/

.bdn
{
    font-family: 'Bodoni SvtyTwo ITC TT';

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.cvrbld
{
    font-family: 'caviar_dreamsbold';

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.cvrrgl
{
    font-family: 'caviar_dreamsregular';

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.lbri
{
    font-family: 'libre_baskervilleitalic';

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.lbrb
{
    font-family: 'libre_baskervillebold';
}

.ebgi
{
    font-family: 'eb_garamond12_italic';
}

.ebgr
{
    font-family: 'eb_garamond12_regular';
}

.proxir
{
    font-family: 'regular';
}

.srcs
{
    font-family: 'source_sans_prolight';
}

.tau
{
    text-transform: uppercase;
}

.tal
{
    text-align: left;
}

.tac
{
    text-align: center;
}

.tar
{
    text-align: right;
}

.s60
{
    font-size: 60px;
}

.s46
{
    font-size: 46px;
}

.s44
{
    font-size: 44px;
}

.s42
{
    font-size: 42px;
}

.s36
{
    font-size: 36px;
}

.s32
{
    font-size: 32px;
}

.s30
{
    font-size: 30px;
}

.s28
{
    font-size: 28px;
}

.s26
{
    font-size: 26px;
}

.s24
{
    font-size: 24px;
}

.s22
{
    font-size: 22px;
}

.s21
{
    font-size: 21px;
    line-height: 30px;
}

.s20
{
    font-size: 20px;
}

.s18
{
    font-size: 18px;
}

.s16
{
    font-size: 16px;
    line-height: 32px;
}

.s15
{
    font-size: 15px;
}

.s14
{
    font-size: 14px;
    line-height: 11px;
}

.s13
{
    font-size: 13px;
}

.s12
{
    font-size: 12px;
}

.s11
{
    font-size: 11px;
}

.s10
{
    font-size: 10px;
}

.s9
{
    font-size: 9px;
}

.lh32
{
    line-height: 32px;
}

.lh24
{
    line-height: 24px;
}

.lh28
{
    line-height: 28px;
}

.lh0
{
    line-height: 0;
}

label,
.label
{
    font-family: 'libre_baskervilleregular';
    font-weight: 400;

    cursor: pointer;
}

hr
{
    margin-top: 10px;
    margin-bottom: 10px;

    border-color: #c4c9cb;
}

hr.white
{
    margin-top: 10px;
    margin-bottom: 10px;

    border-color: #fff;
}


/*========================================
3. MARGIN , PADDING & NO GUTTER SETUP
========================================*/

.ma
{
    max-width: 249px;
    margin: 0 auto;
}

.m0
{
    margin: 0;
}

.mb0
{
    margin-bottom: 0 !important;
}

.mb5
{
    margin-bottom: 5px;
}

.mb10
{
    margin-bottom: 10px;
}

.mb15
{
    margin-bottom: 15px;
}

.mb20
{
    margin-bottom: 20px;
}

.mb30
{
    margin-bottom: 30px;
}

.mb40
{
    margin-bottom: 40px;
}

.mb50
{
    margin-bottom: 50px;
}

.mb60
{
    margin-bottom: 60px;
}

.mb70
{
    margin-bottom: 70px;
}

.mb80
{
    margin-bottom: 80px;
}

.mb90
{
    margin-bottom: 80px;
}

.mb100
{
    margin-bottom: 100px;
}

.ptd0
{
    padding: 0 !important;
}

.ptd3
{
    padding: 3px 0;
}

.ptd5
{
    padding: 5px 0 !important;
}

.ptd10
{
    padding: 10px 0;
}

.ptd15
{
    padding: 15px 0;
}

.ptd20
{
    padding: 20px 0;
}

.ptd30
{
    padding: 30px 0;
}

.ptd40
{
    padding: 40px 0;
}

.ptd50
{
    padding: 50px 0;
}

.ptd60
{
    padding: 60px 0;
}

.ptd70
{
    padding: 70px 0;
}

.ptd80
{
    padding: 80px 0;
}

.ptd90
{
    padding: 90px 0;
}

.ptd100
{
    padding: 100px 0;
}

.row.no-gutter
{
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutter > [class*='col-'],
.row.no-gutter > [class*='col-'] > [class*='col-']
{
    position: inherit;

    padding-right: 0;
    padding-left: 0;
}

.row.rw-10
{
    margin-right: -5px;
    margin-left: -5px;
}

.row.rw-10 > [class*='col-'],
.row.rw-10 > [class*='col-'] > [class*='col-']
{
    position: inherit;

    padding-right: 5px;
    padding-left: 5px;
}

.row.rw-13
{
    margin-right: -2px;
    margin-left: -2px;
}

.row.rw-13 > [class*='col-'],
.row.rw-15 > [class*='col-'] > [class*='col-']
{
    position: inherit;

    padding-right: 7px;
    padding-left: 7px;
}


/*========================================
4. HEADING SETUP
========================================*/

h1,
h2,
h3,
h4,
h5
{
    font-weight: 400;
    line-height: normal;

    margin: 0 0 20px;
    /* 	font-family: 'ralewayregular'; */
}

h1
{
    font-size: 24px;
}

h2
{
    font-size: 21px;
}

h3
{
    font-size: 18px;
}

h4
{
    font-size: 16px;
}

h4
{
    font-size: 14px;
}


/*========================================
5. LIST SETUP
========================================*/

ul
{
    font-size: 14px;
    line-height: 21px;
}

ul.list-none
{
    font-size: inherit;
    line-height: normal;

    margin: 0;
    padding: 0;

    list-style: none;
}

ul.list-none.basket
{
    padding: 17px 0;
}

@media (max-width:768px)
{
    ul.list-none.basket
    {
        padding: 8px 0;
    }
}

ul.list-none.list-inline li
{
    display: inline-block;

    padding: 0;

    vertical-align: middle;
}

ul.banner-content
{
    position: absolute;
    top: 30%;
    left: 46%;

    padding: 0;

    list-style: outside none none;
}

ul.banner-content li
{
    line-height: 36px;

    text-align: center;
}

@media (max-width: 768px)
{
    ul.banner-content
    {
        left: 41%;
    }
}

@media (max-width: 480px)
{
    ul.banner-content
    {
        position: relative;
        left: auto;

        text-align: center;
    }
}

ul.toplinks li a
{
    color: #ececec;
}

ul.toplinks li h4 a
{
    padding: 10px 20px;
}

@media (max-width: 480px)
{
    ul.toplinks li h4 a
    {
        padding: 10px 15px;
    }
}

ul.toplinks li a:hover
{
    color: #b78c4e;
}

ul.more-option
{
    padding: 5%;

    border: 1px solid;
}

ul.more-option li:first-child
{
    padding-right: 3px;

    border-right: 1px solid;
}

ul.block > li
{
    padding: 22px;
}

ul.block > li a
{
    color: #fff;
}

ul.block
{
    background: #000 none repeat scroll 0 0;
}

ul.block li.active
{
    font-weight: 700;
}

ul.tunel-stages li.stage
{
    width: 100%;

    color: #ccc;
    border-color: #ccc;
}

ul.tunel-stages li.stage.active
{
    color: #000;
    border-color: #000;
}

ul.tunel-stages li.stage ul
{
    margin: 0;
    padding-bottom: 10px;
}



ul.tunel-stages li.stage ul li .number
{
    margin-right: 10px;
    padding: 2px 10px;

    border: 2px solid;
}

ul.processed li
{
    position: relative;

    width: 50%;

    text-align: center;
}

ul.processed li:first-child:after
{
    font-size: .857em;

    position: absolute;
    top: 50%;
    left: 100%;

    margin-left: -22px;

    content: 'Or';
    transform: translateY(-50%);

    color: #949494;
}

ul.processed li:first-child
{
    padding-right: 23px;
}

ul.processed.nav-tabs
{
    border-bottom: none;
}

ul.processed.nav-tabs > li > a
{
    font-family: 'caviar_dreamsbold';

    padding: 17px 5px;

    text-transform: uppercase;

    border: 1px solid;
    border-radius: 0;
}

@media (max-width: 480px)
{
    ul.processed.nav-tabs > li > a
    {
        font-size: 12px;
    }
}

ul.processed.nav-tabs > li.active > a,
ul.processed.nav-tabs > li.active > a:focus,
ul.processed.nav-tabs > li.active > a:hover
{
    color: #fff;
    border: 1px solid;
    background-color: #000;
}

ul.recent-post li
{
    position: relative;

    width: 50%;

    text-align: center;
}

ul.recent-post li:first-child:after
{
    font-size: .857em;

    position: absolute;
    top: 50%;
    left: 100%;

    margin-left: -14px;

    content: '/';
    transform: translateY(-50%);

    color: #949494;
}

@media (max-width: 480px)
{
    ul.recent-post li:first-child:after
    {
        margin-left: -5px;
    }
}

ul.recent-post li:first-child
{
    padding-right: 23px;
}

@media (max-width: 480px)
{
    ul.recent-post li:first-child
    {
        padding-right: 0;
    }
}

ul.recent-post.nav-tabs
{
    border-bottom: none;
}

ul.recent-post.nav-tabs > li > a
{
    font-family: 'libre_baskervilleitalic';

    color: #ccc;
    border: medium none;
    outline: 0;
}

ul.recent-post.nav-tabs > li:first-child
{
    text-align: right;
}

ul.recent-post.nav-tabs > li:last-child
{
    text-align: left;
}

@media (max-width: 480px)
{
    ul.recent-post.nav-tabs > li > a
    {
        font-size: 12px;
    }
}

ul.recent-post.nav-tabs > li.active > a,
ul.recent-post.nav-tabs > li.active > a:focus,
ul.recent-post.nav-tabs > li.active > a:hover
{
    color: #000;
    border: none;
    outline: 0;
}

ul.payment li
{
    position: relative;

    float: left;

    width: 50%;
}

ul.payment li:first-child
{
    padding-right: 23px;
}

ul.payment li:last-child
{
    float: right;
}

ul.payment li:first-child::after
{
    font-size: .857em;

    position: absolute;
    top: 50%;
    left: 100%;

    margin-left: -18px;

    content: 'Or';
    transform: translateY(-50%);

    color: #949494;
}

ul.filter li
{
    /* background: #f3f3f3; */
    margin-bottom: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

ul.filter li a
{
    color: #504f4f;
}

ul.filter li a:hover
{
    color: #000;
}

ul.tal li
{
    border-bottom: 1px solid #f8f8f8;
}

ul.filter-nav
{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 13px;
}

ul.filter-nav li
{
    line-height: 1;

    position: relative;

    cursor: pointer;

    border-right: 1px solid;
}

ul.filter-nav li:first-child
{
    border: none;
}

ul.filter-nav li:last-child
{
    border: none;
}

ul.filter-nav li a
{
    color: #959595;
}

ul.filter-nav li a:hover
{
    color: #000;
}

ul.filter-sidebar{
    width: 100%;
    max-width: 200px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}


ul.filter-sidebar li
{
    padding: 7px 0;

    border-top: 1px solid #ccc;
}

ul.filter-sidebar li a
{
    font-size: 12px;

    color: #000;
}

ul.filter-sidebar li a:hover
{
    color: #6a6a6a;
}

ul.filter-sidebar li:first-child
{
    border-top: 1px solid #ccc;
}

ul.filter-sidebar li:last-child
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

ul.filter-sidebar li > ul.child
{
    margin-top: 7px;
    padding: 0;
}

ul.filter-sidebar li > ul.child > li
{
    padding-left: 15px;

    list-style: none;

    border: none;
}

ul.filter-sidebar li > ul.child > li a
{
    font-size: 21px;
}

ul.filter-sidebar li > ul.child > li:first-child
{
    border-top: 1px solid #ccc;
}


/*========================================
6. PARAGRAPH SETUP
========================================*/

article h3
{
    line-height: 28px;
}

article h4
{
    font-family: 'bold';
    font-size: 21px;

    padding-top: 20px;
}

article p
{
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 20px;
}

article p:last-child
{
    margin: 0;
}

article ul
{
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 20px;
}

article ul:last-child
{
    margin: 0;
}

article.list-none ul
{
    font-size: 14px;

    padding: 0;

    list-style: none;
}

p
{
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 20px;
}

p:last-child
{
    margin: 0;
}


/*========================================
7. HYPERLINK SETUP
========================================*/

a
{
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-decoration: none;

    color: #000;
    outline: none;
}

a:hover,
a:focus
{
    text-decoration: none;

    opacity: 1;
    color: inherit;
    outline: 0;
}


/*========================================
8. GENERAL SETUP
========================================*/
html{
     height: 100%;
}
body{
     height: 100%;
     width: 100%;
}
html,
body
{
    font-family: 'libre_baskervilleregular';
    font-size: 14px;
    line-height: 21px;

    margin: 0;
    padding: 0;

    color: #000;
    background-color: #fff;
}

.wrap-inner
{
    padding-right: 10px;
    padding-left: 10px;
}

@media (max-width: 767px)
{
    .wrap-inner
    {
        padding: 0;
    }
}


/*========================================
9. BUTTON SETUP
========================================*/

.btn
{
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    border-radius: 0;
}

.btn:focus
{
    outline: none;
}

.btn.btn-main
{
    font-family: 'caviar_dreamsbold';

    color: #837d52;
    border-radius: 1px;
    background-color: #ebebeb;
}

.btn.btn-black
{
    font-family: 'caviar_dreamsbold';
    font-size: 12px;

    padding: 10px 12px;

    color: #fff;
    border-radius: 1px;
    background-color: #000;
}

.btn.btn-black.product-detail
{
    width: 100%;
    padding: 15px 2px;
}

.btn.btn-basket
{
    font-family: 'caviar_dreamsbold';

    padding: 20px;

    color: #fff;
    border-radius: 1px;
    background-color: #000;
}

.btn.btn-black.big
{
    font-family: 'caviar_dreamsbold';

    padding: 20px 77px;

    color: #fff;
    border-radius: 1px;
    background-color: #000;
}

.btn.btn-black.big.active
{
    background-color: #837d52;
}

.btn.btn-black.pay
{
    font-family: 'caviar_dreamsbold';

    width: 100%;
    padding: 17px 5px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 1px;
    background-color: #000;
}

.btn.btn-white
{
    font-family: 'caviar_dreamsbold';

    color: #b78c4e;
    border-radius: 1px;
    background-color: #fff;
}

.btn.btn-white:hover,
.btn.btn-white:focus
{
    color: #fff;
    background-color: #b78c4e;
}

.btn.btn-main:hover,
.btn.btn-main:focus,
.btn.btn-black.big:hover,
.btn.btn-black.big:focus,
.btn.btn-basket:hover,
.btn.btn-basket:focus,
.btn.btn-black:hover,
.btn.btn-black:focus
{
    background-color: #837d52;
}


/*========================================
10. FORM SETUP
========================================*/

.form-group.required .control-label:after
{
    content: ' *';

    color: red;
}

.form-control:hover,
.form-control:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus
{
    -webkit-transition: none;
       -moz-transition: none;

    outline: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.form-control:focus
{
    border-color: #000;
}

input,
select
{
    outline: none !important;
}

input.form-control,
select.form-control
{
    font-size: 14px;
    line-height: 1.428571429;

    display: block;

    width: 100%;
    height: 42px;
    padding: 6px 12px;

    vertical-align: middle;

    color: #555;
    border: 1px solid #ddd;
    border-radius: 1px;
    outline: none !important;
    background-color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

select.form-control.size
{
    font-size: 14px;
    line-height: 1.428571429;

    display: block;

    width: 100%;
    height: 34px;
    padding: 6px 12px;

    vertical-align: middle;

    color: #555;
    border: 1px solid #ddd;
    border-radius: 1px;
    outline: none !important;
    background-color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

input.form-control.checkout,
select.form-control.checkout
{
    font-size: 11px;
    line-height: 1.42857;

    display: block;

    width: 100%;
    height: 42px;
    padding: 6px 12px;

    vertical-align: middle;

    color: #555;
    border-width: 0 0 1px;
    border-radius: 0;
    outline: medium none !important;
    background-color: #fff;
    box-shadow: none;
}

input.form-control.contact,
select.form-control.contact
{
    font-size: 14px;
    line-height: 1.42857;

    display: block;

    width: 100%;
    height: 42px;
    padding: 6px 12px;

    vertical-align: middle;

    color: #555;
    border-width: 0 0 1px;
    border-radius: 0;
    outline: medium none !important;
    background-color: #fff;
    box-shadow: none;
}

input.form-control:focus,
input.form-control:active,
select.form-control:hover,
select.form-control:focus,
select.form-control:active
{
    border-color: #000;
    outline: none !important;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

input.form-control:hover
{
    border-color: none;
}

textarea.form-control
{
    font-size: 14px;
    line-height: 1.428571429;

    display: block;

    width: 100%;
    min-height: 100px;
    padding: 6px 12px;

    vertical-align: middle;

    color: #555;
    border: 1px solid #ddd;
    border-radius: 1px;
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

textarea.form-control:hover,
textarea.form-control:focus,
textarea.form-control:active
{
    outline: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.fa-envelope-o::before
{
    font-size: 21px;

    content: '\f003';
}

.form-group.newsletter
{
    position: relative;
}

.form-group.pay-card
{
    position: relative;
}

.form-control-newsletter
{
    line-height: 34px;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 10px;

    display: block;

    width: 34px;
    height: 34px;

    text-align: center;
    pointer-events: none;
}

.form-group.src-group
{
    position: relative;
}

.form-control-src-group
{
    line-height: 34px;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 10px;

    display: block;

    width: 34px;
    height: 34px;

    text-align: center;
}

input.form-control.qty,
select.form-control.qty
{
    height: 34px;
}

.input-group-btn.qty:first-child > .btn,
.input-group-btn.qty:first-child > .btn-group > .btn,
.input-group-btn.qty:last-child > .btn-group:not(:last-child) > .btn
{
    border-radius: 0;
}

.input-group-btn.qty:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn.qty:first-child > .btn:not(:first-child),
.input-group-btn.qty:last-child > .btn,
.input-group-btn.qty:last-child > .btn-group > .btn
{
    border-radius: 0;
}

.form-control-pay-card
{
    font-size: 28px;
    line-height: 40px;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 10px;

    display: block;

    width: 53px;
    height: 40px;

    text-align: center;
    pointer-events: none;

    color: #ccc;
}

.dropdown-menu.open
{
    /* For general browser */
  max-height: 220px !important;
  /* For Firefox browser */
  -moz-height: 220px !important;
  /* For Chrome and Safari browser */
  -webkit-height: 220px !important;
  /* For Opera browser */
  -o-height: 220px !important;
}

form.currencies .bootstrap-select.form-control
{
    margin-bottom: -11px;
    padding: 0;

    border: medium none;
}

form.currencies .bootstrap-select.form-control,
form.currencies .bootstrap-select.form-control:hover,
form.currencies .bootstrap-select.form-control:focus
{
    outline: 0;
    background: #000;
}

form.currencies .btn
{
    color: #fff;
    border: none;
    background: #000;
}



form.currencies .btn-default
{
    color: #fff;
    border-color: #ccc;
    background-color: #000;
}

form.currencies .btn-default.focus,
form.currencies .btn-default:focus
{
    color: #fff;
    border-color: #8c8c8c;
    background-color: #000;
}

form.currencies .btn-default:hover
{
    color: #fff;
    border-color: #adadad;
    background-color: #000;
}

form.currencies .btn-default.active,
form.currencies .btn-default:active,
form.currencies .bootstrap-select.form-control.open > .dropdown-toggle.btn-default
{
    color: #fff;
    border-color: #adadad;
    background-color: #000;
}

form.currencies .btn-default.active.focus,
form.currencies .btn-default.active:focus,
form.currencies .btn-default.active:hover,
form.currencies .btn-default:active.focus,
form.currencies .btn-default:active:focus,
form.currencies .btn-default:active:hover,
form.currencies .bootstrap-select.form-control.open > .dropdown-toggle.btn-default.focus,
form.currencies .bootstrap-select.form-control.open > .dropdown-toggle.btn-default:focus,
form.currencies .bootstrap-select.form-control.open > .dropdown-toggle.btn-default:hover
{
    color: #fff;
    border-color: #8c8c8c;
    background-color: #000;
}


/*========================================
11. IMAGE SETUP
========================================*/

.image-responsive
{
    width: 100%;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: all .3s ease;
}

a:hover .overlay
{
    background-color: rgba(0, 0, 0, .3);
}

.wrapimage
{
    position: relative;
}

.picture-frame
{
    width: 100%;
}


/*========================================
12. HEADER SETUP
========================================*/

.app-header
{
    position: fixed;
    z-index: 999;
    top: 0;

    width: 100%;
    padding: 20px 10px 0;

    background-color: #000;
}

.app-header .logo img
{
    width: 15em;
}

@media (max-width: 768px)
{
    .app-header
    {
        padding: 20px 16px;
    }
}


/*========================================
13. FOOTER SETUP
========================================*/

.app-footer
{
    position: relative;
    bottom: 0;

    width: 100%;

    background-color: #f8f8f8;
}

.footer-accordion
{
    background-color: #f8f8f8;
}


/*========================================
14. NAVIGATION SETUP
========================================*/

.menu
{
    display: block;

    color: #fff;
}

.menu:hover,
.menu:focus,
.menu:active
{
    display: block;

    color: #fff;
}

.navigation
{
    margin-left: 20px;
}

.navigation ul li a
{
    display: block;

    padding: 25px 15px;

    color: #000;
    border-bottom: 1px solid transparent;
}

.navigation ul li.active a,
.navigation ul li:hover a
{
    color: #000;
    border-bottom: 1px solid #fff;
}

@media (max-width: 1200px)
{
    .navigation
    {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: -114px;

        width: 319px;
        height: 100%;
        margin-left: 0;
        padding: 0;

        -webkit-transition: all .4s;
           -moz-transition: all .4s;
             -o-transition: all .4s;
                transition: all .4s;
        -webkit-transform: translate3d(-205px, 76px, 0);
           -moz-transform: translate3d(-205px, 76px, 0);
            -ms-transform: translate3d(-205px, 76px, 0);
             -o-transform: translate3d(-205px, 76px, 0);
                transform: translate3d(-205px, 76px, 0);

        border-right: 1px solid #eee;
        background-color: #fff;
    }
    .navigation.open
    {
        -webkit-transform: translate3d(112px, 76px, 0);
           -moz-transform: translate3d(112px, 76px, 0);
            -ms-transform: translate3d(112px, 76px, 0);
             -o-transform: translate3d(112px, 76px, 0);
                transform: translate3d(112px, 76px, 0);
    }
    .navigation ul li
    {
        width: 100%;
    }
    .navigation ul li a
    {
        padding: 10px 20px;

        border: 0;
    }
    .navigation ul li.active a,
    .navigation ul li:hover a
    {
        border: 0;
        background-color: #f8f8f8;
    }
}

.navbar
{
    position: inherit;

    padding: 23px 0 0;
}

.navbar-default
{
    color: #fff;
    border-color: #aca1a2;
    background-color: #ccc6c6;
}

.wrap-navi
{
    max-width: 825px;
    margin: 0 auto;
}

.navbar-nav
{
    /* 	float: none;
	margin: 0;
	padding-left: 20%; */
    /* 	position:absolute;
	left:21%; */
}


/* @media (min-width: 1400px) and (max-width:1980px) {
	.navbar-nav {
			position:absolute;
	left:27%;
	}
}  */

.navbar-nav > li > a
{
    padding: 10px 0 5px;

    color: #fff;
    border-bottom: 1px solid transparent;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover
{
    border-color: #fff;
    background: none;
}

.nav > li > a:focus,
.nav > li > a:hover
{
    text-decoration: none;

    border-bottom: 1px solid #fff;
    background: none;
}

.nav > li > a:focus,
.nav > li > a:hover
{
    text-decoration: none;

    border-bottom: 1px solid #fff;
    background: none;
}

.navbar-default .navbar-nav > li > a
{
    color: #fff;
}

.navbar-default .navbar-nav > .dropdown > a .caret
{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-default .navbar-brand
{
    color: #fff;
}

.menu-large
{
    position: static !important;
}

.megamenu
{
    width: 100%;
    padding: 20px 0;
}

.megamenu > li > ul
{
    margin: 0;
    padding: 0;
}

.megamenu > li > ul > li
{
    list-style: none;
}

.megamenu > li > ul > li > a
{
    font-weight: 400;
    line-height: 1.428571429;

    display: block;
    clear: both;

    white-space: normal;

    color: #333;
}

.megamenu > li ul > li > a:hover,
.megamenu > li ul > li > a:focus
{
    text-decoration: none;

    color: #262626;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus
{
    color: #999;
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus
{
    cursor: not-allowed;
    text-decoration: none;

    background-color: transparent;
    background-image: none;

    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.megamenu.dropdown-header
{
    font-size: 18px;

    color: #428bca;
}

@media (max-width: 768px)
{
    .megamenu
    {
        margin-right: 0;
        margin-left: 0;
    }
    .megamenu > li
    {
        margin-bottom: 30px;
    }
    .megamenu > li:last-child
    {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header
    {
        padding: 3px 15px !important;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header
    {
        color: #fff;
    }
}


/* =====================================
15. DROPDOWN
======================================== */

ul.mega.dropdown-menu
{
    padding: 20px 85px;
    border: none;
    background-color: #fff;
    box-shadow: none;
}

.dropdown-menu
{
    border-radius: 0;
    box-shadow: none;
}

.dropdown.menu-large
{
    padding-left: 25px;
}


/* =====================================
16. BASKETMENU
======================================== */

.basketmenu
{
    width: 30%;
    padding: 19px 26px;
}

.dropdown-menu.basketmenu h4 a
{
    color: #000;
}


/* .dropdown-menu.basketmenu{
z-index:9999;

} */

@media (min-width: 480px) and (max-width:768px)
{
    .basketmenu
    {
        width: 62%;
        padding: 19px 15px;
    }
}

@media (max-width: 480px)
{
    .basketmenu
    {
        width: 96%;
        padding: 19px 12px;
    }
}

.basketmenu > li > ul
{
    margin: 0;
    padding: 0;
}

.basketmenu > li > ul > li
{
    list-style: none;
}

.basketmenu > li > ul > li > a
{
    font-weight: 400;
    line-height: 1.428571429;

    display: block;
    clear: both;

    padding: 3px 20px;

    white-space: normal;

    color: #333;
}

.basketmenu > li ul > li > a:hover,
.basketmenu > li ul > li > a:focus
{
    text-decoration: none;

    color: #262626;
    background-color: #f5f5f5;
}

.basketmenu.disabled > a,
.basketmenu.disabled > a:hover,
.basketmenu.disabled > a:focus
{
    color: #999;
}

.basketmenu.disabled > a:hover,
.basketmenu.disabled > a:focus
{
    cursor: not-allowed;
    text-decoration: none;

    background-color: transparent;
    background-image: none;

    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.basketmenu.dropdown-header
{
    font-size: 18px;

    color: #428bca;
}

.basketmenu > li
{
    margin-bottom: 30px;
}

.basketmenu > li:last-child
{
    margin-bottom: 0;
}

.basketmenu.dropdown-header
{
    padding: 3px 15px !important;
}

.navbar-nav .open .dropdown-menu .dropdown-header
{
    color: #fff;
}


/*========================================
17. LOGO
 =========================================*/

.logo
{
    position: absolute;
    top: 0;
    left: 41%;
}

@media (min-width: 1400px) and (max-width:1990px)
{
    .logo
    {
        left: 44%;
    }
}

@media (max-width: 768px)
{
    .logo
    {
        position: absolute;
        top: -8px;
        left: 36%;
    }
}

@media (max-width: 480px)
{
    .logo
    {
        position: absolute;
        top: -8px;
        left: 13%;
    }
}


/* =================================
18. MAIN PICT
=================================== */

.main-pict
{
    position: relative;

    background-color: rgba(0, 0, 0, .3);
}

@media (max-width: 480px)
{
    .main-pict
    {
        position: relative;

        background-color: rgba(0, 0, 0, .3);
    }
}


/* ==================================
19. BOTTOM HEADER
==================================== */

.bottom-header
{
    max-width: 500px;
    margin: 0 auto 40px;
}

@media (max-width: 480px)
{
    .bottom-header
    {
        max-width: 300px;
    }
}


/*========================================
20. BANNER CONTENT
========================================== */

.bannercontent
{
    position: absolute;
    top: 46%;

    width: 100%;

    text-align: center;
}

.bannercontent a
{
    color: #fff;
}

@media (max-width: 480px)
{
    .bannercontent
    {
        position: relative;

        width: 100%;

        text-align: center;
    }
}

.bannercontent.personal-shop
{
    position: absolute;
    top: 36%;
    left: 27%;

    width: 50%;

    text-align: center;

    color: #fff;
}

.bannercontent.personal-shop h3
{
    font-size: 28px;

    margin: 0;
}

.bannercontent.personal-shop p
{
    padding: 30px 0;
}

@media (max-width: 480px)
{
    .bannercontent.personal-shop
    {
        top: 46%;

        width: 90%;
    }
    .bannercontent.personal-shop h3
    {
        font-size: 17px;

        margin: 0;
    }
    .bannercontent.personal-shop p
    {
        font-size: 13px;

        padding: 0;
    }
}


/*========================================
21. BREADCRUMBS
========================================== */

.breadcrumb
{
    margin-bottom: 0;
    padding: 0;

    background-color: #fff;
}

.breadcrumb > li + li::before
{
    content: '> ';

    color: #ccc;
}


/*========================================
22. BAR
========================================== */

.promo-bar
{
    position: relative;
    z-index: 997;

    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ccc;
    background: #fff none repeat scroll 0 0;
}

.promo-bar h5
{
    float: right;

    margin: 0;
}

.promo-bar h5
{
    float: none;

    text-align: right;
}

.bar
{
    position: relative;
    z-index: 997;

    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ccc;
    background: #fff none repeat scroll 0 0;
}

.bar h5
{
    float: right;

    margin: 0;
}

.bar h5
{
    float: none;

    text-align: right;
}

@media (max-width: 768px)
{
    .promo-bar h5
    {
        float: none;

        text-align: center;
    }
    .bar h5
    {
        float: none;

        text-align: center;
    }
}

.wrap-bar-filter
{
    position: fixed;
    z-index: 996;
    top: 114px;

    width: 100%;
    margin-top: 0;
    padding-top: 50px;
     transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff none repeat scroll 0 0;
}

@media (min-width: 480px) and (max-width:768px)
{
    .wrap-bar-filter
    {
        position: fixed;
        z-index: 997;
        top: 75px;
        left: 0;

        width: 100%;
        margin-top: 0;
        padding-top: 48px;

        background: #fff none repeat scroll 0 0;
    }
}

.panda
{
    padding-top: 5px;
}


/*========================================
23. FILTER SIDEBAR
========================================== */

.sidescroll-wrap{
    padding-top: 50px;
}
.wrap-filter-sidebar
{
    width: 100%;
    max-width: 160px;
    overflow: hidden;
    /*z-index: 1000;*/
   /* background: white;*/
     transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 20px;
    position: fixed;
    top: 215px;
}


.filstop
{
    
}


/*========================================
24. ACOORDION
========================================== */

.accordion-heading
{
    padding: 10px 15px;
}

.accordion-heading a
{
    outline: 0;
}

.accordion-heading.menu-bar
{
    padding: 0;
}

.accordion-heading.footer-nav
{
    padding: 15px 0;
}

.accordion-heading.faq
{
    padding: 5px 0;

    border-bottom: 1px solid;
}

.accordion-heading.pd
{
    padding: 5px 17px;

    border: 1px solid #ccc;
}

.accordion-inner.menu-bar a
{
    padding: 8px 31px;
}

.accordion-inner.pd
{
    padding: 5px 17px;
}

.accordion-inner li
{
    padding: 15px;

    background: #f8f8f8;
}

.accordion-inner.filter
{
    width: 160px;
}

@media (max-width: 768px)
{
    .accordion-inner.filter
    {
        width: 100%;
    }
}

.accordion-heading .accordion-toggle:after
{
    font-family: 'FontAwesome';
    font-size: 20px;

    float: right;

    content: '\f106';

    color: grey;
}

.accordion-heading .accordion-toggle.collapsed:after
{
    content: '\f107';
}

.accordion
{
    background: #f8f8f8;
}

.accordion.white
{
    background: #fff;
}

.accordion .acc-bd .accordion-inner ul
{
    line-height: 30px;

    position: relative;

    width: 100%;
    padding-left: 10px;

    list-style: outside none none;
}

@media (max-width: 768px)
{
    .accordion .acc-bd .accordion-inner ul
    {
        position: relative;
    }
}

.accordion .acc-bd-srt .accordion-inner ul
{
    line-height: 30px;

    position: absolute;
    z-index: 3;

    width: 100%;
    padding-left: 0;

    list-style: outside none none;
}

@media (max-width: 768px)
{
    .accordion .acc-bd-srt .accordion-inner ul
    {
        position: relative;
    }
}

.accordion .acc-bd-srt .accordion-inner li
{
    padding: 15px 27px;

    background: #fff;
}

.accordion .accordion-inner ul li
{
    line-height: 30px;
}

.accordion.acc-inner-in
{
    width: 164%;

    background: #fff none repeat scroll 0 0;
}

@media (max-width: 768px)
{
    .accordion.acc-inner-in
    {
        width: 100%;

        background: #fff none repeat scroll 0 0;
    }
}


/* category */

.accordion-body.acc-bd.collapse.in
{
    position: relative;
}

.accordion-body.acc-bd.collapsing
{
    position: relative;
}


/* sort by */

.accordion-body.acc-bd-srt.collapse.in
{
    position: absolute;

    width: 92%;
}

.accordion-body.acc-bd-srt.collapsing
{
    position: absolute;

    width: 92%;
}

@media (max-width: 768px)
{
    .accordion-body.acc-bd-srt.collapse.in
    {
        position: relative;

        width: 100%;
    }
    .accordion-body.acc-bd-srt.collapsing
    {
        position: relative;

        width: 100%;
    }
}


/* info */

.accordion-body.info.collapse.in
{
    position: relative;
}

.accordion-body.info.collapsing
{
    position: relative;
}

.accordion-body.cs.collapse.in
{
    position: relative;
}

.accordion-body.cs.collapsing
{
    position: relative;
}


/* filter by */

.accordion-body.menutog.collapse.in
{
    position: absolute;

    display: block;
}

.accordion-body.menutog.collapsing
{
    position: absolute;
}

@media (max-width: 768px)
{
    .accordion-body.menutog.collapse.in
    {
        position: relative;

        display: block;
    }
    .accordion-body.menutog.collapsing
    {
        position: relative;
    }
}

.accordion-body.menutog.collapsing
{
    width: 92%;
}

@media (max-width: 768px)
{
    .accordion-body.menutog.collapsing
    {
        width: 100%;
    }
}

#collapseThree .collapsing
{
    position: relative !important;
}

#collapseThree .collapse.in
{
    position: relative;

    display: block;
}


/*========================================
25. WRAP PRODUCT LIST
========================================== */

.line
{
    position: absolute;
    left: 42%;

    width: 17%;

    border: 1px solid;
}


/*========================================
26. TOP PRODUCT LIST
========================================== */

.top-product-list h3
{
    position: relative;

    margin-bottom: 0;
}

.top-product-list h3::after
{
    position: absolute;
    bottom: 0;
    left: 44%;

    width: 15%;
    height: 2px;

    content: '';

    background: #000 none repeat scroll 0 0;
}


/*========================================
27. CARD
========================================== */

.wrap-card
{
    padding-top: 50px;
}

.card
{
    position: relative;

    overflow: hidden;

    cursor: pointer;
}

.card .product-name
{
    position: relative;
}

.card .product-name::after
{
    position: absolute;
    bottom: 0;
    left: 41%;

    width: 20%;
    height: 2px;

    content: '';

    background: #000 none repeat scroll 0 0;
}

.card:hover > .wrap-card-inner.pd
{
    top: 263px;

    opacity: 1;
}

.card .wrap-card-inner.pd
{
    position: absolute;
    top: 318px;
    width: 100%;
    height: 100%;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .03s;

    opacity: 0;
    background: rgba(255, 255, 255, .85) none repeat scroll 0 0;
}

@media (min-width: 480px) and (max-width:768px)
{
    .card:hover > .wrap-card-inner.pd
    {
        top: 329px;

        opacity: 1;
    }
    .card .wrap-card-inner.pd
    {
        top: 390px;

        opacity: 0;
    }
}

@media (min-width: 1400px) and (max-width:1920px)
{
    .card:hover > .wrap-card-inner.pd
    {
        top: 457px;
    }
    .card .wrap-card-inner.pd
    {
        top: 499px;
    }
}


.card{
        -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .03s linear;
}
.card .wrap-card-inner
{
    position: absolute;
    bottom: -100%;
    top: auto;
    padding: 20px;
    width: 100%;
    height: auto;
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
         -o-transition: all .4s linear;
            transition: all .4s linear;
    background: rgba(255, 255, 255, .85) none repeat scroll 0 0;
}
.card:hover .wrap-card-inner{
    bottom: 0;
}

.card a.fa
{
    position: absolute;
    top: 5px;
    right: 5px;

    -webkit-transition: all .1s;
       -moz-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    color: #000;
}

.card a.fa:hover
{
    color: #999;
}

.card img.view-one
{
    display: block;

    -webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}

.card img.view-two
{
    display: none;
     -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}

.card:hover > .view-one
{
    display: none;
}

.card:hover > .view-two
{
    display: block;
}


/*========================================
28. CATEGORY PRODUCT
========================================== */

.top-header-category-product h3
{
    position: relative;

    padding-bottom: 10px;
}

.top-header-category-product h3::after
{
    position: absolute;
    bottom: 0;
    left: 45%;

    width: 10%;
    height: 2px;

    content: '';

    background: #b78c4e none repeat scroll 0 0;
}

.category-product-top-content
{
    position: relative;
}

.category-product-top-content a
{
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 20px;

    color: #000;
    background: #cbaf5c none repeat scroll 0 0;
}

.category-product-top-content a span
{
    font-size: 20px;

    padding-left: 15px;
}

.category-product-bottom-content h3
{
    position: relative;

    text-align: right;
}

@media (max-width: 768px)
{
    .category-product-bottom-content h3
    {
        text-align: center;
    }
}

.category-product-bottom-content h3::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';

    background: #b78c4e none repeat scroll 0 0;
}

.column-item
{
    padding: 95px 20px;

    background: #ccc none repeat scroll 0 0;
}


/*========================================
29. BORDER
========================================== */

.border-bottom
{
    border-bottom: 2px solid;
}

.border-bottom.min
{
    border-bottom: 1px solid #ccc;
}

.border-top
{
    border-top: 1px solid #ccc;
}

.border-tb
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


/*========================================
30. ITEM DETAIL
========================================== */

.item-detail
{
    border-top: 1px solid #ccc;
}

.item-detail.border-none
{
    border: none;
}

.item-detail img
{
    float: left;

    width: 40%;
}

.item-detail .description
{
    float: left;

    width: 60%;
}

.item-detail .tot-price
{
    text-align: right;
}

.qty
{
    max-width: 100px;
    margin: 0 auto;
}

@media (max-width: 480px)
{
    .item-detail .tot-price
    {
        text-align: center;
    }
}


/*========================================
31. SIDEBAR
========================================== */

.side-bar .email-cs
{
    border-bottom: 1px solid #ccc;
}

@media(max-width: 768px)
{
    .side-bar .email-cs
    {
        border-bottom: 0;
    }
    .side-bar ul
    {
        padding-left: 10px;

        border-left: 1px solid #ccc;
    }
}

@media(max-width: 480px)
{
    .side-bar ul
    {
        padding-left: 0;

        border-left: none;
    }
}


/*========================================
32. PAGINATION
 =========================================*/

.wrap-pagination
{
    position: relative;

    margin-right: 8px;
    padding-right: 21px;
}

.wrap-pagination a
{
    position: absolute;
    top: 0;
    right: 0;

    padding: 9px 7px;

    border: 1px solid #ccc;
    background: transparent none repeat scroll 0 0;
}

.wrap-pagination a:hover
{
    border: 1px solid #000;
}


/*========================================
33. FIND MEAN SEARCH FORM
 =========================================*/

.find
{
    position: fixed;
    z-index: 998;
    top: 113px;

    display: none;

    width: 100%;

    background-color: #f8f8f8;
}

.find.open
{
    display: block;
}


/*========================================
34. WRAP TAB CONTENT
==========================================*/

.wrap-tab-content
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


/*========================================
35. PASSWORD ON CHECKOUT 
==========================================*/

.pass
{
    display: none;
}

.pass.open
{
    display: block;
}


/*========================================
36. WRAP PAY CARD ON CHECKOUT 
==========================================*/

.wrap-pay-card
{
    display: none;
}

.wrap-pay-card.open
{
    display: block;
}

.flex-caption
{
    font-size: 14px;
    line-height: 18px;

    bottom: 0;
    left: 0;

    width: 96%;
    padding: 2%;

    color: #fff;
    background: rgba(0, 0, 0, .5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}


/*========================================
37. MODAL
========================================== */

#quickview .wrap-inner
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.modal-body.mpd
{
    padding: 15px 15px 56px;
}


/*========================================
38. SLIDER ON QUICKVIEW
========================================== */

.rslides
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.rslides li
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;

    -webkit-backface-visibility: hidden;
}

.rslides li:first-child
{
    position: relative;

    display: block;
    float: left;
}

.rslides img
{
    display: block;
    float: left;

    width: 100%;
    height: auto;

    border: 0;
}

.callbacks_nav
{
    position: absolute;
    z-index: 3;
    top: 52%;
    left: 0;

    overflow: hidden;

    width: 38px;
    height: 61px;
    margin-top: -45px;

    text-decoration: none;
    text-indent: -9999px;

    opacity: .7;
    background: transparent url(../img/themes.gif) no-repeat left top;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.callbacks_nav:active
{
    opacity: 1;
}

.callbacks_nav.next
{
    right: 0;
    left: auto;

    background-position: right top;
}


/*========================================
39. ZOOM IMAGE
 =========================================*/

.zoom
{
    font-family: 'FontAwesome';

    position: relative;

    display: inline-block;
}

.zoom:after
{
    font-size: 21px;

    position: absolute;
    top: 10px;
    right: 10px;

    display: block;

    content: '\f00e';
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    /* content:'\f00e';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			background:url("../img/icon.png") */

    color: #b6b6b6;
}

.zoom:hover:after
{
    color: #3a3a3a;
}

.zoom img
{
    display: block;
}

.zoom img::selection
{
    background-color: transparent;
}

#ex2 img:hover
{
    cursor: url(grab.cur), default;
}

#ex2 img:active
{
    cursor: url(grabbed.cur), default;
}


/*========================================
40. FILTER TOGLE 
==========================================*/

.flip-m
{
    position: relative;
}

.flip-s
{
    position: relative;
}

.flip-c
{
    position: relative;
}

.flip-p
{
    position: relative;
}

.panel-m
{
    position: absolute;
    z-index: 100;

    display: none;

    width: 160px;
    margin-top: 11px;
    padding: 5px;
    padding: 13px;

    text-align: center;

    background-color: #e1e4e4;
}

.panel-m ul li
{
    margin-bottom: 5px;

    border: none;
}

.panel-m ul
{
    padding: 0;

    list-style: outside none none;

    text-align: left;
}

.fake-checkbox
{
    position: relative;
    top: 2px;

    display: inline-block;

    width: 1rem;
    height: 1rem;
    margin-right: 2.5px;

    transition: background .1s linear 0;

    border: 1px solid #999;
    background: #f3f3f3 none repeat scroll 0 0;
}

.is-active > .fake-checkbox
{
    border-color: #333;
    background: #333 none repeat scroll 0 0;
    box-shadow: 0 0 0 3px #fff inset;
}

.panel-s
{
    position: absolute;
    z-index: 100;

    display: none;

    width: 160px;
    margin-top: 11px;
    padding: 5px;
    padding: 13px;

    text-align: center;

    background-color: #e1e4e4;
}

.panel-s ul
{
    padding: 0;

    list-style: outside none none;

    text-align: left;
}

.panel-s ul li
{
    margin-bottom: 5px;

    border: none;
}

.panel-c
{
    position: absolute;
    z-index: 100;

    display: none;

    width: 160px;
    margin-top: 11px;
    padding: 5px;
    padding: 13px;

    text-align: center;

    background-color: #e1e4e4;
}

.panel-c ul
{
    padding: 0;

    list-style: outside none none;

    text-align: left;
}

.panel-c ul li
{
    margin-bottom: 5px;

    border: none;
}

.panel-p
{
    position: absolute;
    z-index: 100;

    display: none;

    width: 160px;
    margin-top: 11px;
    padding: 5px;
    padding: 13px;

    text-align: center;

    background-color: #e1e4e4;
}

.panel-p ul
{
    padding: 0;

    list-style: outside none none;

    text-align: left;
}

.panel-p ul li
{
    margin-bottom: 5px;

    border: none;
}

.panel-m:after
{
    position: absolute;
    z-index: 995;
    bottom: 100%;
    left: 35%;

    width: 0;
    height: 3px;
    margin-left: -10px;

    content: ' ';
    pointer-events: none;

    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #e1e4e4;
    border-image: none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.panel-s:after
{
    position: absolute;
    z-index: 995;
    bottom: 100%;
    left: 15%;

    width: 0;
    height: 3px;
    margin-left: -10px;

    content: ' ';
    pointer-events: none;

    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #e1e4e4;
    border-image: none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.panel-c:after
{
    position: absolute;
    z-index: 995;
    bottom: 100%;
    left: 30%;

    width: 0;
    height: 3px;
    margin-left: -10px;

    content: ' ';
    pointer-events: none;

    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #e1e4e4;
    border-image: none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.panel-p:after
{
    position: absolute;
    z-index: 995;
    bottom: 100%;
    left: 22%;

    width: 0;
    height: 3px;
    margin-left: -10px;

    content: ' ';
    pointer-events: none;

    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #e1e4e4;
    border-image: none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}


/*========================================
41. WRAP NEWSLETTER
==========================================*/

.wrap-nl
{
    float: right;

    width: 70%;
}

.wrap-nlm
{
    max-width: 308px;
}


/*========================================
42. TABLE SETUP
========================================*/

table.table tr:first-child
{
    background: #ccc;
}

table.table tr td:first-child
{
    text-align: left;
}

table.table tr td
{
    text-align: center;

    border: 1px solid #000;
}


.tac.s12.tau.cvrbld.mb20{
    margin-bottom: 0;
    padding-bottom: 20
}
